In [3]:
import pandas as pd
import numpy as np
import altair as alt
import eco_style
alt.themes.enable('light')

ThemeRegistry.enable('light')

In [70]:
df = pd.read_csv("forces.csv")
df['value'] = df['value'].str.replace(' ', '').astype(int)
df['label'] = np.where(df['date'] == df['date'].max(), 'Personnel', '')
df['date'] = pd.to_datetime(df['date'])

base = alt.Chart(df).encode(
    x=alt.X('date:T',
            axis=alt.Axis(labelFontSize=12, titleFontSize=12),
            ),
    y=alt.Y('value:Q', 
                        axis=alt.Axis(labelFontSize=12, titleFontSize=12),
            title=None),
)

line = base.mark_line(color="#36B7B4")

end_label = base.mark_text(
    align='left',
    color='#36B7B4',
    baseline='middle',
    dx=7
).encode(
    text='label'
)

chart = (line + end_label).properties(
    width=400,
    height=200,
)

# annual change df, jan to jan
a_df = df[df['date'].dt.month == 1].copy()
a_df['change'] = a_df['value'] - a_df['value'].shift(1)
a_df['year'] = a_df['date'].dt.strftime('%Y')

# add 0 vals for the first two years
extra = pd.DataFrame([
    {'date': pd.to_datetime('2013-01-01'), 'change': 0, 'label': '', 'year': '2013'},
])

a_df = pd.concat([
    extra,
    a_df
])


change_chart = alt.Chart(a_df).mark_bar(size=30, xOffset=0).encode(
    x=alt.X('year:N', 
            axis=alt.Axis(labelFontSize=12,
                          titleFontSize=12),
            title=None),
    y=alt.Y('change:Q',
            axis=alt.Axis(labelFontSize=12, titleFontSize=12),
             title=None),
    color=alt.condition(
        alt.datum.change > 0,
        alt.value('#36b7b4'),
        alt.value('#e6224b')
    ),
).properties(
    width=400,
    height=100,
)

change_chart





chart = alt.vconcat(chart, change_chart).resolve_scale(y='independent')

chart = chart.properties(
    title=alt.TitleParams(
        "UK Armed Forces Personnel",
        subtitle=["Full time trained strength, level and change", "Source: Gov.uk", ""],
        anchor='start',
        fontSize=16,
        subtitleFontSize=12,
    )
)

chart.save("chart.json")
chart.save("chart.png", scale_factor=3.0)

chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.VConcatChart(...)

In [58]:
chart

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.VConcatChart(...)

In [28]:
a_df

         date   value label  change  year
3  2013-01-01  162250           NaN  2013
7  2014-01-01  152438       -9812.0  2014
11 2015-01-01  145676       -6762.0  2015
15 2016-01-01  141266       -4410.0  2016
19 2017-01-01  139415       -1851.0  2017
23 2018-01-01  137263       -2152.0  2018
27 2019-01-01  134990       -2273.0  2019
31 2020-01-01  132361       -2629.0  2020
35 2021-01-01  135444        3083.0  2021
39 2022-01-01  137069        1625.0  2022
43 2023-01-01  134530       -2539.0  2023
47 2024-01-01  130658    UK -3872.0  2024

In [55]:
df

         date   value label
0  2012-04-01  170012
1  2012-07-01  168182
2  2012-10-01  165894
3  2013-01-01  162250
4  2013-04-01  160712
5  2013-07-01  158185
6  2013-10-01  156694
7  2014-01-01  152438
8  2014-04-01  150891
9  2014-07-01  148709
10 2014-10-01  146979
11 2015-01-01  145676
12 2015-04-01  144102
13 2015-07-01  142728
14 2015-10-01  141394
15 2016-01-01  141266
16 2016-04-01  140432
17 2016-07-01  139912
18 2016-10-01  139475
19 2017-01-01  139415
20 2017-04-01  138844
21 2017-07-01  138048
22 2017-10-01  137280
23 2018-01-01  137263
24 2018-04-01  136769
25 2018-07-01  136307
26 2018-10-01  135364
27 2019-01-01  134990
28 2019-04-01  134304
29 2019-07-01  133456
30 2019-10-01  132343
31 2020-01-01  132361
32 2020-04-01  132634
33 2020-07-01  132252
34 2020-10-01  134195
35 2021-01-01  135444
36 2021-04-01  136599
37 2021-07-01  137394
38 2021-10-01  137127
39 2022-01-01  137069
40 2022-04-01  136825
41 2022-07-01  136179
42 2022-10-01  134935
43 2023-01-01  134530
44 2023-04-01  133567
45 2023-07-01  132346
46 2023-10-01  131306
47 2024-01-01  130658    UK

In [47]:
df

         date   value label
0  2012-04-01  170012
1  2012-07-01  168182
2  2012-10-01  165894
3  2013-01-01  162250
4  2013-04-01  160712
5  2013-07-01  158185
6  2013-10-01  156694
7  2014-01-01  152438
8  2014-04-01  150891
9  2014-07-01  148709
10 2014-10-01  146979
11 2015-01-01  145676
12 2015-04-01  144102
13 2015-07-01  142728
14 2015-10-01  141394
15 2016-01-01  141266
16 2016-04-01  140432
17 2016-07-01  139912
18 2016-10-01  139475
19 2017-01-01  139415
20 2017-04-01  138844
21 2017-07-01  138048
22 2017-10-01  137280
23 2018-01-01  137263
24 2018-04-01  136769
25 2018-07-01  136307
26 2018-10-01  135364
27 2019-01-01  134990
28 2019-04-01  134304
29 2019-07-01  133456
30 2019-10-01  132343
31 2020-01-01  132361
32 2020-04-01  132634
33 2020-07-01  132252
34 2020-10-01  134195
35 2021-01-01  135444
36 2021-04-01  136599
37 2021-07-01  137394
38 2021-10-01  137127
39 2022-01-01  137069
40 2022-04-01  136825
41 2022-07-01  136179
42 2022-10-01  134935
43 2023-01-01  134530
44 2023-04-01  133567
45 2023-07-01  132346
46 2023-10-01  131306
47 2024-01-01  130658    UK

In [ ]:
df['annual_change'] =

In [7]:
line

/Users/finn/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

In [6]:
df

          date    value                   label
0   2012-04-01  170 012  Armed Forces Personnel
1   2012-07-01  168 182
2   2012-10-01  165 894
3   2013-01-01  162 250
4   2013-04-01  160 712
5   2013-07-01  158 185
6   2013-10-01  156 694
7   2014-01-01  152 438
8   2014-04-01  150 891
9   2014-07-01  148 709
10  2014-10-01  146 979
11  2015-01-01  145 676
12  2015-04-01  144 102
13  2015-07-01  142 728
14  2015-10-01  141 394
15  2016-01-01  141 266
16  2016-04-01  140 432
17  2016-07-01  139 912
18  2016-10-01  139 475
19  2017-01-01  139 415
20  2017-04-01  138 844
21  2017-07-01  138 048
22  2017-10-01  137 280
23  2018-01-01  137 263
24  2018-04-01  136 769
25  2018-07-01  136 307
26  2018-10-01  135 364
27  2019-01-01  134 990
28  2019-04-01  134 304
29  2019-07-01  133 456
30  2019-10-01  132 343
31  2020-01-01  132 361
32  2020-04-01  132 634
33  2020-07-01  132 252
34  2020-10-01  134 195
35  2021-01-01  135 444
36  2021-04-01  136 599
37  2021-07-01  137 394
38  2021-10-01  137 127
39  2022-01-01  137 069
40  2022-04-01  136 825
41  2022-07-01  136 179
42  2022-10-01  134 935
43  2023-01-01  134 530
44  2023-04-01  133 567
45  2023-07-01  132 346
46  2023-10-01  131 306
47  2024-01-01  130 658