In [1]:
#pip install pycountry
#%pip install altair_saver

In [2]:
import pandas as pd
import numpy as np
import altair as alt 
import pycountry
import altair_saver

In [3]:
pallete = {
    "shadow": "rgba(24, 42, 56, 0.1)",
    "nominal_1": "#179fdb",
    "nominal_2": "#e6224b",
    "nominal_3": "#f4c245",
    "nominal_4": "#122b39",
    "nominal_5": "#eb5c2e",
    "nominal_6": "#36b7b4",
    "Other_3":"#d6d4d4",
    #"Deemphasize_Discrete": "rgb(173, 195, 215)", 
    "Deemphasize_Discrete": "rgba(24, 42, 56)",
    "Deemphasize_Other": "rgba(93, 115, 102, 1)",
    "Deemphasize_Continuous": "rgba(24, 42, 56, 0.2)",
    "accent": "#179fdb",
    "domain": "#122b39",
    "bar": {
        "accent_1": "#122b39",
        "other" : "rgb(168, 192, 222)",
        "accent_2" : "#eb5c2e"
    }
}

pallete["GBR"] = pallete["nominal_1"]
pallete["USA"] = pallete["nominal_2"]
pallete["DEU"] = pallete["nominal_3"]
pallete["FRA"] = pallete["nominal_4"]
pallete["Other_1"] = pallete["nominal_5"]
pallete["Other_2"] = pallete["nominal_6"]

pallete["UK"] = pallete["GBR"]
pallete["United Kingdom"] = pallete["GBR"]
pallete["United States"] = pallete["USA"]
pallete["Germany"] = pallete["DEU"]
pallete["France"] = pallete["FRA"]

def report():
  return {"config": {
    "font": "Circular Std",
    "mark" : {
      "line": {
        "interpolate": "linear",
      }
    },
    "view" : {
      "stroke": "transparent",
      "width": 400,
      "height": 300
    },
    "range": {
      "category" : [
        pallete["nominal_1"],
        pallete["nominal_2"],
        pallete["nominal_3"],
        pallete["nominal_4"],
        pallete["nominal_5"],
        pallete["nominal_6"],
      ],
      "diverging" : ["#E6224B","#E54753","#C9C9C9","#179FDB","#122B39"],
      "heatmap" : ["#C9C9C9","#179FDB","#0063AF","#122B39"],
      "ordinal" : ["#00A767","#36B7B4","#179FDB","#0063AF","#243B5A"]
    },
    "axisX": {
      "labelColor": pallete["domain"],
      "tickColor": pallete["domain"],
      "domainColor": pallete["domain"],
      "domainOpacity": 0.5,
      "gridOpacity": 0,
      "labelFont": "Circular Std",
      "labelAngle": 0,
      "labelAlign": "center",
      "labelFontSize": 11,
      "labelPadding": 5,
      "tickCount": 10,
      "tickSize": 0,
      "title": ""
    },
    "axisY": {
      "labelColor": pallete["domain"],
      "labelFont": "Circular Std",
      "tickColor": pallete["domain"],
      "domainColor": pallete["domain"],
      "gridColor": pallete["domain"],
      "gridDash": [
        1,
        5
      ],
      "gridOpacity": 0.5,
      "labelPadding": 5,
      "labelFontSize": 11,
      "domainOpacity": 0.5,
      "tickSize": 0,
      "title": None,
      "titleAlign": "left",
      "titleAngle": 0,
      "titleBaseline": "bottom",
      "titleColor": pallete["domain"],
      "titleOpacity": 0.9,
      "titleX": 0,
      "titleY": -7
    }
  }}

alt.themes.register('report', report)        

def light():
  return {"config": {
    "font": "Circular Std",
    "mark" : {
      "line": {
        "interpolate": "monotone",
      }
    },
    "view" : {
      "stroke": "transparent",
      "width": 400,
      "height": 300
    },
    "range": {
      "category" : ["#36B7B4","#E6224B","#F4C245","#0063AF","#00A767","#179FDB","#EB5C2E"],
      "diverging" : ["#E6224B","#E54753","#C9C9C9","#179FDB","#122B39"],
      "heatmap" : ["#C9C9C9","#179FDB","#0063AF","#122B39"],
      "ordinal" : ["#00A767","#36B7B4","#179FDB","#0063AF","#243B5A"]
    },
    "axisX": {
      "domainColor": "#676A86",
      "domainOpacity": 0.5,
      "grid": False,
      "labelAngle": 0,
      "labelColor": "#676A86",
      "labelOpacity": 0.7,
      "orient": "bottom",
      "tickColor": "#676A86",
      "tickCount": 10,
      "tickOpacity": 0.5,
      "title" : False,
      "titleAlign": "center",
      "titleAnchor": "middle",
      "titleColor": "#676A86",
      "titleFontSize": 12,
      "titleOpacity": 0.8,
      "titleY": -15
    },
    "axisY": {
      "domainColor": "#676A86",
      "domainOpacity": 0.5,
      "gridColor": "#676A86",
      "gridDash": [1, 5],
      "gridOpacity": 0.5,
      "labelColor": "#676A86",
      "labelOpacity": 0.7,
      "labelPadding": 5,
      "tickColor": "#676A86",
      "tickCount": 8,
      "tickOpacity": 0.5,
      "ticks": False,
      "titleAlign": "left",
      "titleAngle": 0,
      "titleBaseline": "bottom",
      "titleColor": "#676A86",
      "titleFontSize": 12,
      "titleOpacity": 0.8,
      "titleX": 0,
      "titleY": -7
    }
  }}

alt.themes.register('light', light)

def dark():
    return {"config": {
        "background": "#122B39",
        "font": "Circular Std",
        "title": {
            "color": "#b4c8d8",
            "fontSize": 14,
            "fontWeight": 400,
        },
        "mark": {
            "line": {
                "interpolate": "monotone",
            }
        },
        "view": {
            "stroke": "transparent",
            "width": 400,
            "height": 300
        },
        "range": {
            "category": ["#36B7B4", "#E6224B", "#F4C245", "#0063AF", "#00A767", "#179FDB", "#EB5C2E"],
            "diverging": ["#E6224B", "#E54753", "#C9C9C9", "#179FDB", "#122B39"],
            "heatmap": ["#C9C9C9", "#179FDB", "#0063AF", "#122B39"],
            "ordinal": ["#00A767", "#36B7B4", "#179FDB", "#0063AF", "#243B5A"]
        },
        "axisX": {
            "domainColor": "#b4c8d8",
            "domainOpacity": 0.5,
            "grid": False,
            "labelAngle": 0,
            "labelColor": "#b4c8d8",
                "labelOpacity": 0.7,
                "orient": "bottom",
                "tickColor": "#b4c8d8",
                "tickCount": 10,
                "tickOpacity": 0.5,
                "title": "",
                "titleAlign": "center",
                "titleAnchor": "middle",
                "titleColor": "#b4c8d8",
                "titleFontSize": 12,
                "titleOpacity": 0.8,
                "titleX": 207,
                "titleY": -15
        },
        "axisY": {
            "domainColor": "#b4c8d8",
            "domainOpacity": 0.5,
            "format": ".0f",
            "gridColor": "#b4c8d8",
            "gridDash": [
                1,
                5
            ],
            "gridOpacity": 0.5,
            "labelColor": "#b4c8d8",
            "labelOpacity": 0.7,
            "labelPadding": 5,
            "tickColor": "#b4c8d8",
            "tickCount": 8,
            "tickOpacity": 0.5,
            "ticks": False,
            "title": "FAO price index",
            "titleAlign": "left",
            "titleAngle": 0,
            "titleBaseline": "bottom",
            "titleColor": "#b4c8d8",
            "titleFontSize": 12,
            "titleOpacity": 0.8,
            "titleX": 0,
            "titleY": -7

        }
    }}

alt.themes.register('dark', dark)

In [4]:
alt.themes.enable('light')

ThemeRegistry.enable('light')

In [8]:
# funding vs spending chart
income = pd.read_excel('income of HE providers.xlsx', skiprows=12)
expenses = pd.read_excel('expenditure of HE providers.xlsx', skiprows=11)
expenses['Total costs'] = expenses.iloc[:, 1:].sum(axis=1)
expenses['Other costs'] = expenses['Restructuring costs'] + expenses['Other operating expenses']
expenses['Non-operational costs'] = expenses['Depreciation and amortisation'] + expenses['Interest and other finance costs']

expenses

,Year,Staff costs,Other operating expenses,Depreciation and amortisation,Interest and other finance costs,Restructuring costs,Total costs,Other costs,Non-operational costs
0,2014/15,18210,11770,1986,666,49,32681,11819,2652
1,2015/16,18046,12125,2074,749,61,33055,12186,2823
2,2016/17,18877,12643,2298,709,78,34605,12721,3007
3,2017/18,20265,14048,2495,760,142,37710,14190,3255
4,2018/19,26508,15108,2714,860,134,45324,15242,3574
5,2019/20,20061,14940,2817,971,160,38949,15100,3788
6,2020/21,23704,14954,2972,804,102,42536,15056,3776
7,2021/22,31469,17512,3026,596,79,52682,17591,3622
8,2022/23,24675,19705,3234,883,119,48616,19824,4117

In [9]:
expenses_negative = expenses[['Year']].join(expenses.iloc[:, 1:].mul(-1))

In [10]:
income = income[income['Country'] == 'All'].reset_index(drop=True)
income['Grants and contracts'] = income['Funding body grants'] + income['Research grants and contracts']
income['Other Income'] = income['Other income'] + income['Investment income'] + income['Donations and endowments']
income

,Year,Country,Tuition fees and education contracts,Funding body grants,Research grants and contracts,Other income,Investment income,Donations and endowments,Total income,Grants and contracts,Other Income
0,2014/15,All,15541,5345,5968,5902,230,532,33518,11313,6664
1,2015/16,All,16811,5167,5886,6045,261,578,34748,11053,6884
2,2016/17,All,17757,5105,5916,6165,254,585,35783,11021,7004
3,2017/18,All,19049,5127,6225,7370,256,754,38782,11352,8380
4,2018/19,All,20536,5345,6584,8034,403,930,41832,11929,9367
5,2019/20,All,21936,5504,6317,7427,375,934,42493,11821,8736
6,2020/21,All,23561,6019,6573,6849,331,840,44174,12592,8020
7,2021/22,All,25803,5877,7057,8507,373,886,48503,12934,9766
8,2022/23,All,27030,6201,7345,9024,907,1075,51582,13546,11006

In [11]:
joined_df = income.merge(expenses_negative, on='Year')
joined_df['Net Income'] = joined_df['Total costs'] + joined_df['Total income']
joined_df = joined_df.drop(columns=['Country', 'Total income', 'Total costs']) 
joined_df = joined_df.drop(columns=['Funding body grants', 'Research grants and contracts', 'Restructuring costs', "Other operating expenses",
                                    'Depreciation and amortisation','Interest and other finance costs','Other income','Investment income', 'Donations and endowments'])
joined_df

,Year,Tuition fees and education contracts,Grants and contracts,Other Income,Staff costs,Other costs,Non-operational costs,Net Income
0,2014/15,15541,11313,6664,-18210,-11819,-2652,837
1,2015/16,16811,11053,6884,-18046,-12186,-2823,1693
2,2016/17,17757,11021,7004,-18877,-12721,-3007,1178
3,2017/18,19049,11352,8380,-20265,-14190,-3255,1072
4,2018/19,20536,11929,9367,-26508,-15242,-3574,-3492
5,2019/20,21936,11821,8736,-20061,-15100,-3788,3544
6,2020/21,23561,12592,8020,-23704,-15056,-3776,1638
7,2021/22,25803,12934,9766,-31469,-17591,-3622,-4179
8,2022/23,27030,13546,11006,-24675,-19824,-4117,2966

In [12]:
data_long = joined_df.melt('Year', var_name='category', value_name='amount')


data_long['amount'] = data_long['amount'] * 1000000
data_long

       Year                              category       amount
0   2014/15  Tuition fees and education contracts  15541000000
1   2015/16  Tuition fees and education contracts  16811000000
2   2016/17  Tuition fees and education contracts  17757000000
3   2017/18  Tuition fees and education contracts  19049000000
4   2018/19  Tuition fees and education contracts  20536000000
..      ...                                   ...          ...
58  2018/19                            Net Income  -3492000000
59  2019/20                            Net Income   3544000000
60  2020/21                            Net Income   1638000000
61  2021/22                            Net Income  -4179000000
62  2022/23                            Net Income   2966000000

[63 rows x 3 columns]

In [13]:
bar_data = data_long[data_long['category'] != 'Net Income']
line_data = data_long[data_long['category'] == 'Net Income']

In [14]:
categories_order = bar_data['category'].unique()
categories_order

array(['Tuition fees and education contracts', 'Grants and contracts',
       'Other Income', 'Staff costs', 'Other costs',
       'Non-operational costs'], dtype=object)

In [15]:
# Define color palettes
cool_palette = ['#E6224B', '#FF5733', '#FF8D72']
warm_palette= ['#179FDB', '#0063AF', '#004080']

# Combine palettes for categories (assuming first few are warm, then cool)
combined_palette = warm_palette + cool_palette[:len(bar_data['category'].unique()) - len(warm_palette)]

# Create the stacked bar chart
bar_chart = alt.Chart(bar_data).mark_bar().encode(
    x='Year:O',
    y=alt.Y('amount:Q', stack='zero', axis=alt.Axis(
        title=None,
labelExpr="""datum.value === 0 ? '0' :
                     datum.value > 0 ? ('£' + format(datum.value / 1e9, ',.0f') + ' B') :
                     ('-£' + format(-datum.value / 1e9, ',.0f') + ' B')"""
    )),
    color=alt.Color('category:N', scale=alt.Scale(range=combined_palette), sort=categories_order,
                     legend=alt.Legend(
            title=None)),
).properties(
    title='Income and Expenses'
)

rule = alt.Chart(pd.DataFrame({'y': [0]})).mark_rule(color='#676A86').encode(
    y='y:Q'
)

#line
line_chart = alt.Chart(line_data).mark_line(point=True).encode(
    x='Year:O',
    y='amount:Q',
    color=alt.value('black'),  
    tooltip=['amount','category', 'Year']
)


#combined_chart = alt.layer(bar_chart, rule, line_chart).resolve_scale(
 #   y='shared'
#)

#combined_chart = combined_chart.properties(
     #   title={
     #   "text": ["Financial trends in British universities"],
      #  "subtitle": ["Expenditure and income sources of higher education providers", "Source: HESA", ""],
      #  "subtitleColor": "#676A86",
      #  "anchor": "start"
   # }
#)
#combined_chart

In [16]:
# Assuming bar_data and line_data are already defined

# Define color palettes
cool_palette = ['#E6224B', '#FF5733', '#FF8D72']
warm_palette= ['#179FDB', '#0063AF', '#004080']

# Combine palettes for categories (assuming first few are warm, then cool)
combined_palette = warm_palette + cool_palette[:len(bar_data['category'].unique()) - len(warm_palette)]

# Create the stacked bar chart
bar_chart = alt.Chart(bar_data).mark_bar().encode(
    x='Year:O',
    y=alt.Y('amount:Q', stack='zero', axis=alt.Axis(
        title=None,
        labelExpr="""datum.value === 0 ? '0' :
                     datum.value > 0 ? ('£' + format(datum.value / 1e9, ',.0f') + ' B') :
                     ('-£' + format(-datum.value / 1e9, ',.0f') + ' B')"""
    )),
    color=alt.Color('category:N', scale=alt.Scale(range=combined_palette), sort=categories_order,
                     legend=None),
).properties(
    title='Income and Expenses'
)

rule = alt.Chart(pd.DataFrame({'y': [0]})).mark_rule(color='grey').encode(
    y='y:Q'
)

#line
line_chart = alt.Chart(line_data).mark_line(point=True).encode(
    x='Year:O',
    y='amount:Q',
    color=alt.value('black'),  
    tooltip=['amount','category', 'Year']
)

# Text label
text_label_1 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [45000000000], 'text': ['Grants and contracts']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=25,
    color='#0063AF'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

text_label_2 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [32000000000], 'text': ['Other income']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=25,
    color='#004080'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

text_label_3 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [16000000000], 'text': ['Tuition fees and education contracts']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=25,
    color ='#179FDB'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

text_label_4 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [-12000000000], 'text': ['Staff costs']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=30,
    color='#E6224B'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

text_label_5 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [-32000000000], 'text': ['Other costs']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=25,
    color='#FF5733'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

text_label_6 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [-46000000000], 'text': ['Non-operational costs']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=25, 
    color='#FF8D72'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

text_label_7 = alt.Chart(pd.DataFrame({'x': ['2022/23'], 'y': [0], 'text': ['Net income']})).mark_text(
    align='left',
    baseline='middle',
    fontSize=12,
    dx=25, 
    color='black'
).encode(
    x=alt.X('x:O', axis=alt.Axis(title=None)),
    y=alt.Y('y:Q', axis=alt.Axis(title=None)),
    text='text:N'
)

combined_chart = alt.layer(bar_chart, rule, line_chart, text_label_1, text_label_2, text_label_3,text_label_4, text_label_5,text_label_6, text_label_7).resolve_scale(
    y='shared'
)

combined_chart = combined_chart.properties(
    title={
        "text": ["Financial trends in British universities"],
        "subtitle": ["Expenditure and income sources of higher education providers", "Source: HESA", ""],
        "subtitleColor": "#676A86",
        "anchor": "start"
    }
)

combined_chart

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.LayerChart(...)

In [17]:
combined_chart.save('british_universities.json')

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)