In [8]:
import pandas as pd

---

#### Inflation


Inflation tables updated monthly at: https://bbs.gov.bd/site/page/29b379ff-7bac-41d9-b321-e41929bab4a1/-

- Get most recent year month from `Consumer Price Index (CPI) and Inflation Rate (IR)` section:
- data table in pdf format, so use `tabula` to extract data

In [1]:
import tabula

In [3]:
dataset = 'https://bbs.portal.gov.bd/sites/default/files/files/bbs.portal.gov.bd/page/9ead9eb1_91ac_4998_a1a3_a5caf4ddc4c6/2023-09-25-08-25-0a59c12c663e2cc22c9be416bcb1fa82.pdf'

In [6]:
# Read the PDF and extract tables into a list of DataFrames
table = tabula.read_pdf(dataset, pages=1, multiple_tables=False)

The output file is empty.

In [7]:
table

[]

In [4]:


# Assuming the table you want is the first table in the PDF, you can access it like this
# Replace 0 with the appropriate index if the table is at a different position
df = tables[0]

# Display the DataFrame
print(df)

IndexError: list index out of range

---

### World Bank

**Country Page:** https://data.worldbank.org/country/bangladesh

Data Catalog: https://api.worldbank.org/v2/en/country/BGD?downloadformat=csv

In [14]:
import requests
import zipfile
import io
import pandas as pd

# URL of the zip file
url = 'https://api.worldbank.org/v2/en/country/BGD?downloadformat=csv'

# Send an HTTP request and get the zip file content
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Extract the CSV file starting with 'API' from the zip file
    with zipfile.ZipFile(io.BytesIO(response.content)) as zip_ref:
        csv_filename = None
        for file_name in zip_ref.namelist():
            if file_name.startswith('API') and file_name.endswith('.csv'):
                csv_filename = file_name
                break
        
        if csv_filename:
            # Extract the CSV file
            zip_ref.extract(csv_filename)
            csv_file = csv_filename
        else:
            print('No CSV file starting with "API" found in the zip file.')
            exit(1)
else:
    print('Failed to download the zip file.')
    exit(1)

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 68

In [28]:
# Read the CSV file into a pandas DataFrame, ignore first two columns
raw_data = pd.read_csv(csv_file, header=2, index_col=False)
raw_data = raw_data.drop(raw_data.columns[[0, 1]], axis=1)  # drop country name & code
raw_data = raw_data.dropna(axis=1, how='all') # drop any columns that only contain missing values
raw_data.head(5)

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Internally displaced persons, total displaced ...",VC.IDP.TOCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,426000.000000,426000.000000,426000.000000,426000.000000,432000.000000,426000.000000,427000.000000,427000.000000,427000.000000,427000.0
1,Voice and Accountability: Standard Error,VA.STD.ERR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.110641,0.127796,0.129927,0.125566,0.126059,0.128895,0.123450,0.127924,0.130795,NaN
2,Voice and Accountability: Number of Sources,VA.NO.SRC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.000000,12.000000,12.000000,12.000000,12.000000,12.000000,11.000000,10.000000,10.000000,NaN
3,High-technology exports (% of manufactured exp...,TX.VAL.TECH.MF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.299089,NaN,0.307867,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Export value index (2015 = 100),TX.VAL.MRCH.XD.WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.915593,93.904913,100.000000,107.769398,110.723624,121.227906,121.491474,103.788540,136.581796,NaN

---

#### Extract Series

Create a function to help search dataframe

- create function that takes a loose data series we want to extract in the form of a list of strings, and searches `Indicator Name` column, and returns the rows of any relevant series we might want to extract

In [ ]:
def filter_series(dataframe, keywords):
    """
    Filter a DataFrame based on a list of keywords present in the 'Indicator Name' column.

    Parameters:
    - dataframe (pd.DataFrame): The DataFrame to be filtered.
    - keywords (list): A list of keywords to search for in a case-insensitive manner.

    Returns:
    - pd.DataFrame: A filtered DataFrame containing rows where the 'Indicator Name' column
      contains all the specified keywords.

    Example:
    >>> keywords = ['population', 'total']
    >>> filtered_data = filter_series(raw_data, keywords)
    >>> print(filtered_data)
       Indicator Name Indicator Code      1960      1961      1962      1963      1964
    0  Population, total   SP.POP.TOTL  50396429  51882769  53461661  55094115  56774465
    """
    # Convert keywords to lowercase for case-insensitive search
    keywords_lower = [keyword.lower() for keyword in keywords]
    
    # Initialize a mask with True for all rows
    mask = pd.Series(True, index=dataframe.index)
    
    # Apply the mask for each keyword
    for keyword in keywords_lower:
        mask &= dataframe['Indicator Name'].str.lower().str.contains(keyword)
    
    # Filter the DataFrame using the combined mask
    filtered_data = dataframe[mask]
    
    return filtered_data

##### Population

In [65]:
filter_series(raw_data, ['Population', 'total']).head()

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
26,Urban population (% of total population),SP.URB.TOTL.IN.ZS,5.135000e+00,5.278000e+00,5.498000e+00,5.727000e+00,5.964000e+00,6.211000e+00,6.467000e+00,6.733000e+00,...,3.276200e+01,3.353500e+01,3.430800e+01,3.508300e+01,3.585800e+01,3.663200e+01,3.740500e+01,3.817700e+01,3.894600e+01,3.971100e+01
29,"Population, male (% of total population)",SP.POP.TOTL.MA.ZS,5.190252e+01,5.187827e+01,5.185654e+01,5.184286e+01,5.183347e+01,5.182633e+01,5.182088e+01,5.181263e+01,...,4.985193e+01,4.980310e+01,4.975974e+01,4.972908e+01,4.970669e+01,4.967779e+01,4.964116e+01,4.961369e+01,4.959846e+01,4.957124e+01
30,"Population, total",SP.POP.TOTL,5.039643e+07,5.188277e+07,5.346166e+07,5.509412e+07,5.677446e+07,5.850016e+07,6.026526e+07,6.210449e+07,...,1.540301e+08,1.559613e+08,1.578300e+08,1.597846e+08,1.617940e+08,1.636840e+08,1.655162e+08,1.674210e+08,1.693563e+08,1.711864e+08
40,Population ages 15-64 (% of total population),SP.POP.1564.TO.ZS,5.472769e+01,5.451445e+01,5.425726e+01,5.393275e+01,5.355325e+01,5.322510e+01,5.295755e+01,5.270504e+01,...,6.380357e+01,6.440960e+01,6.499142e+01,6.555376e+01,6.609745e+01,6.658262e+01,6.699931e+01,6.738486e+01,6.771990e+01,6.798642e+01
43,Population ages 0-14 (% of total population),SP.POP.0014.TO.ZS,4.226348e+01,4.248862e+01,4.274926e+01,4.306812e+01,4.343385e+01,4.374363e+01,4.398707e+01,4.421036e+01,...,3.153206e+01,3.086886e+01,3.020124e+01,2.952014e+01,2.883163e+01,2.817087e+01,2.755682e+01,2.698218e+01,2.645298e+01,2.596916e+01

In [69]:
# We know 'Population, total' is in row index 30 of master dataframe, so extract this into its own df
df_wide = raw_data.iloc[[30]].reset_index(drop=True)
df_wide

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Population, total",SP.POP.TOTL,50396429.0,51882769.0,53461661.0,55094115.0,56774465.0,58500159.0,60265259.0,62104488.0,...,154030139.0,155961299.0,157830000.0,159784568.0,161793964.0,163683958.0,165516222.0,167420951.0,169356251.0,171186372.0

In [78]:
# Convert the DataFrame from wide to long format
df_long = pd.melt(df_wide, id_vars=['Indicator Name', 'Indicator Code'], var_name='Year', value_name='Value')

# create new df with only `Year` and `Value` columns
df = df_long[['Year', 'Value']]

# rename cols
df.columns = ['date', 'value']

# convert `date` column to datetime
df['date'] = pd.to_datetime(df['date'], format='%Y')

# convert `value` col to int
df['value'] = df['value'].astype(int)

/var/folders/6p/njxvnljx3b36_1d566nq5mjh0000gn/T/ipykernel_53519/3717464359.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'], format='%Y')
/var/folders/6p/njxvnljx3b36_1d566nq5mjh0000gn/T/ipykernel_53519/3717464359.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['value'] = df['value'].astype(int)

In [84]:
# export to csv and json
df.to_csv('data/popu.csv', index=False)
df.to_json('data/popu.json', orient='records')

---

#### Unemployment

In [89]:
filter_series(raw_data, ['Unemployment', 'total'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
63,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.881,10.268,10.666,11.051,12.219,12.293,12.366,14.383,13.772,12.928
804,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.430,NaN,NaN,4.350,4.370,NaN,NaN,NaN,NaN,NaN
806,Unemployment with intermediate education (% of...,SL.UEM.INTM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.980,NaN,NaN,9.710,8.480,NaN,NaN,NaN,NaN,NaN
861,Benefit incidence of unemployment benefits and...,per_lm_alllm.ben_q1_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,Unemployment with advanced education (% of tot...,SL.UEM.ADVN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000,NaN,NaN,9.030,10.740,NaN,NaN,NaN,NaN,NaN
1126,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.880,NaN,NaN,11.370,12.760,NaN,NaN,NaN,NaN,NaN
1223,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.430,4.393,4.371,4.350,4.370,4.380,4.382,5.209,5.097,4.699
1226,Unemployment with basic education (% of total ...,SL.UEM.BASC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.820,NaN,NaN,3.230,3.450,NaN,NaN,NaN,NaN,NaN

In [146]:
def extract_series(row_index):
    '''
    pass in index of row to extract from `raw_data` and return a df in long format
    '''
    # extract row index 1223
    df_wide = raw_data.iloc[[row_index]].reset_index(drop=True)

    print(df_wide.iloc[0, 0], '\n') # print the first value of the first column
    print(df_wide)

    # drop NaN columns
    df_wide = df_wide.dropna(axis=1, how='all')

    # Convert the DataFrame from wide to long format
    df_long = pd.melt(df_wide, id_vars=['Indicator Name', 'Indicator Code'], var_name='date', value_name='value')

    # create new df with only `date` and `value` columns
    df = df_long[['date', 'value']]

    # convert `date` column to datetime (using .loc to avoid copy warning)
    df.loc[:, 'date'] = pd.to_datetime(df['date'], format='%Y').dt.strftime("%Y-%m-%d")

    print(df.info())

    return df

In [147]:
df = extract_series(1223)

Unemployment, total (% of total labor force) (modeled ILO estimate)

                                      Indicator Name  Indicator Code  1960  \
0  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   NaN

   1961  1962  1963  1964  1965  1966  1967  ...  2013   2014   2015  2016  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...  4.43  4.393  4.371  4.35

   2017  2018   2019   2020   2021   2022
0  4.37  4.38  4.382  5.209  5.097  4.699

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    32 non-null     object
 1   value   32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
None

In [148]:
# export to csv and json
df.to_csv('data/unem.csv', index=False)
df.to_json('data/unem.json', orient='records')

#### Inactivity

#### Employment Rate

In [177]:
filter_series(raw_data, ['employment', 'population ratio', '15+', 'total'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
684,"Employment to population ratio, 15+, total (%)...",SL.EMP.TOTL.SP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.175,54.006,53.829,53.650,55.781,55.911,56.019,55.007,55.277,55.993
1146,"Employment to population ratio, 15+, total (%)...",SL.EMP.TOTL.SP.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.650,NaN,NaN,56.090,55.780,NaN,NaN,NaN,NaN,NaN
1149,"Employment to population ratio, ages 15-24, to...",SL.EMP.1524.SP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.553,35.636,34.728,33.837,35.521,35.600,35.607,34.127,34.355,34.954
1251,"Employment to population ratio, ages 15-24, to...",SL.EMP.1524.SP.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.930,NaN,NaN,38.040,35.300,NaN,NaN,NaN,NaN,NaN

In [179]:
# Extract 'Employment to population ratio, 15+, total (%) (modeled ILO estimate) ' at row 684
df = extract_series(684)
df.tail()

Employment to population ratio, 15+, total (%) (modeled ILO estimate)

                                      Indicator Name     Indicator Code  1960  \
0  Employment to population ratio, 15+, total (%)...  SL.EMP.TOTL.SP.ZS   NaN

   1961  1962  1963  1964  1965  1966  1967  ...    2013    2014    2015  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...  54.175  54.006  53.829

    2016    2017    2018    2019    2020    2021    2022
0  53.65  55.781  55.911  56.019  55.007  55.277  55.993

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    32 non-null     object
 1   value   32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
None

          date   value
27  2018-01-01  55.911
28  2019-01-01  56.019
29  2020-01-01  55.007
30  2021-01-01  55.277
31  2022-01-01  55.993

In [181]:
# export to csv and json
df.to_csv('data/empl.csv', index=False)
df.to_json('data/empl.json', orient='records')

#### Employment

In [184]:
filter_series(raw_data, ['employment', 'total'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
55,"Share of youth not in education, employment or...",SL.UEM.NEET.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.040000,NaN,NaN,28.880000,27.390000,NaN,NaN,NaN,NaN,NaN
63,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
664,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.881000,10.268000,10.666000,11.051000,12.219000,12.293000,12.366000,14.38300,13.772000,12.928
666,"Part time employment, total (% of total employ...",SL.TLF.PART.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.410000,NaN,NaN,18.690000,20.440000,NaN,NaN,NaN,NaN,NaN
677,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.111920,35.063170,35.986890,36.875730,38.983370,39.909970,40.727910,40.87996,41.196040,NaN
680,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.788890,20.550990,20.466740,20.459530,20.419330,20.666120,20.946730,21.24903,21.713960,NaN
681,"Contributing family workers, total (% of total...",SL.FAM.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.136140,16.937370,15.728230,14.508350,11.860110,11.111000,10.519300,10.47820,10.163300,NaN
684,"Employment to population ratio, 15+, total (%)...",SL.EMP.TOTL.SP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.175000,54.006000,53.829000,53.650000,55.781000,55.911000,56.019000,55.00700,55.277000,55.993
804,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.430000,NaN,NaN,4.350000,4.370000,NaN,NaN,NaN,NaN,NaN
806,Unemployment with intermediate education (% of...,SL.UEM.INTM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.980000,NaN,NaN,9.710000,8.480000,NaN,NaN,NaN,NaN,NaN
830,"Self-employed, total (% of total employment) (...",SL.EMP.SELF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.168790,60.884760,60.685710,60.597480,60.500650,60.049840,59.597210,60.01587,59.031900,NaN
833,Employment in agriculture (% of total employme...,SL.AGR.EMPL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,45.099190,44.385850,43.546380,42.664750,40.597300,39.423930,38.325380,37.87102,37.090010,NaN
861,Benefit incidence of unemployment benefits and...,per_lm_alllm.ben_q1_tot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,Unemployment with advanced education (% of tot...,SL.UEM.ADVN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000,NaN,NaN,9.030000,10.740000,NaN,NaN,NaN,NaN,NaN
1126,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.880000,NaN,NaN,11.370000,12.760000,NaN,NaN,NaN,NaN,NaN
1128,"Part time employment, male (% of total male em...",SL.TLF.PART.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.840000,NaN,NaN,9.820000,11.210000,NaN,NaN,NaN,NaN,NaN
1135,"Children in employment, total (% of children a...",SL.TLF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.002084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1145,"Vulnerable employment, total (% of total emplo...",SL.EMP.VULN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.381310,59.685790,58.870370,57.866470,56.035900,55.202930,54.357730,54.80427,53.673840,NaN
1146,"Employment to population ratio, 15+, total (%)...",SL.EMP.TOTL.SP.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.650000,NaN,NaN,56.090000,55.780000,NaN,NaN,NaN,NaN,NaN
1149,"Employment to population ratio, ages 15-24, to...",SL.EMP.1524.SP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.553000,35.636000,34.728000,33.837000,35.521000,35.600000,35.607000,34.12700,34.355000,34.954
1223,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.430000,4.393000,4.371000,4.350000,4.370000,4.380000,4.382000,5.20900,5.097000,4.699
1226,Unemployment with basic education (% of total ...,SL.UEM.BASC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.820000,NaN,NaN,3.230000,3.450000,NaN,NaN,NaN,NaN,NaN
1230,"Part time employment, female (% of total femal...",SL.TLF.PART.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.590000,NaN,NaN,39.540000,41.320000,NaN,NaN,NaN,NaN,NaN
1246,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.831210,39.115260,39.314290,39.402500,39.499350,39.950160,40.402790,39.98413,40.968100,NaN
1250,"Employers, total (% of total employment) (mode...",SL.EMP.MPYR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.787480,1.198952,1.815346,2.731012,4.464744,4.846911,5.239479,5.21160,5.358071,NaN
1251,"Employment to population ratio, ages 15-24, to...",SL.EMP.1524.SP.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.930000,NaN,NaN,38.040000,35.300000,NaN,NaN,NaN,NaN,NaN

#### Participation Rate

In [190]:
filter_series(raw_data, ['participation rate', 'total', '15\+'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
812,"Labor force participation rate, total (% of to...",SL.TLF.CACT.NE.ZS,NaN,57.17,NaN,NaN,NaN,NaN,NaN,NaN,...,57.180,NaN,NaN,56.09,58.33,NaN,NaN,NaN,NaN,NaN
1231,"Labor force participation rate, total (% of to...",SL.TLF.CACT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.686,56.488,56.289,56.09,58.33,58.473,58.587,58.03,58.246,58.754

In [191]:
# Extract 'Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)' 
# at row 1231
df = extract_series(1231)
df.tail()

Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)

                                      Indicator Name  Indicator Code  1960  \
0  Labor force participation rate, total (% of to...  SL.TLF.CACT.ZS   NaN

   1961  1962  1963  1964  1965  1966  1967  ...    2013    2014    2015  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...  56.686  56.488  56.289

    2016   2017    2018    2019   2020    2021    2022
0  56.09  58.33  58.473  58.587  58.03  58.246  58.754

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    33 non-null     object
 1   value   33 non-null     float64
dtypes: float64(1), object(1)
memory usage: 656.0+ bytes
None

          date   value
28  2018-01-01  58.473
29  2019-01-01  58.587
30  2020-01-01  58.030
31  2021-01-01  58.246
32  2022-01-01  58.754

In [192]:
# export to csv and json
df.to_csv('data/part.csv', index=False)
df.to_json('data/part.json', orient='records')

#### Labour Force

In [166]:
filter_series(raw_data, ['labor force', 'total'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
664,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.881000e+00,1.026800e+01,1.066600e+01,1.105100e+01,1.221900e+01,1.229300e+01,1.236600e+01,1.438300e+01,1.377200e+01,1.292800e+01
671,"Labor force participation rate, total (% of to...",SL.TLF.ACTI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.821300e+01,5.804300e+01,5.788200e+01,5.773100e+01,6.040200e+01,6.064500e+01,6.086800e+01,6.035100e+01,6.065700e+01,NaN
672,"Labor force participation rate for ages 15-24,...",SL.TLF.ACTI.1524.NE.ZS,NaN,50.66,NaN,NaN,NaN,NaN,NaN,NaN,...,4.542000e+01,NaN,NaN,3.804000e+01,4.046000e+01,NaN,NaN,NaN,NaN,NaN
804,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.430000e+00,NaN,NaN,4.350000e+00,4.370000e+00,NaN,NaN,NaN,NaN,NaN
806,Unemployment with intermediate education (% of...,SL.UEM.INTM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.980000e+00,NaN,NaN,9.710000e+00,8.480000e+00,NaN,NaN,NaN,NaN,NaN
810,"Labor force, female (% of total labor force)",SL.TLF.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.855937e+01,2.907011e+01,2.958657e+01,3.009696e+01,3.172093e+01,3.187737e+01,3.200891e+01,3.203826e+01,3.241967e+01,3.267183e+01
811,Labor force with intermediate education (% of ...,SL.TLF.INTM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581000e+01,NaN,NaN,5.131000e+01,4.761000e+01,NaN,NaN,NaN,NaN,NaN
812,"Labor force participation rate, total (% of to...",SL.TLF.CACT.NE.ZS,NaN,57.17,NaN,NaN,NaN,NaN,NaN,NaN,...,5.718000e+01,NaN,NaN,5.609000e+01,5.833000e+01,NaN,NaN,NaN,NaN,NaN
816,"Labor force participation rate for ages 15-24,...",SL.TLF.ACTI.1524.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.056100e+01,3.971400e+01,3.887400e+01,3.804100e+01,4.046500e+01,4.058900e+01,4.063200e+01,3.986000e+01,3.984200e+01,4.014400e+01
1125,Unemployment with advanced education (% of tot...,SL.UEM.ADVN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000e+00,NaN,NaN,9.030000e+00,1.074000e+01,NaN,NaN,NaN,NaN,NaN
1126,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.880000e+00,NaN,NaN,1.137000e+01,1.276000e+01,NaN,NaN,NaN,NaN,NaN
1132,Labor force with advanced education (% of tota...,SL.TLF.ADVN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.009000e+01,NaN,NaN,7.752000e+01,7.964000e+01,NaN,NaN,NaN,NaN,NaN
1223,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.430000e+00,4.393000e+00,4.371000e+00,4.350000e+00,4.370000e+00,4.380000e+00,4.382000e+00,5.209000e+00,5.097000e+00,4.699000e+00
1226,Unemployment with basic education (% of total ...,SL.UEM.BASC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.820000e+00,NaN,NaN,3.230000e+00,3.450000e+00,NaN,NaN,NaN,NaN,NaN
1229,"Labor force, total",SL.TLF.TOTL.IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.978177e+07,6.090413e+07,6.200987e+07,6.316628e+07,6.716474e+07,6.874832e+07,7.024886e+07,7.094001e+07,7.254916e+07,7.445936e+07
1231,"Labor force participation rate, total (% of to...",SL.TLF.CACT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.668600e+01,5.648800e+01,5.628900e+01,5.609000e+01,5.833000e+01,5.847300e+01,5.858700e+01,5.803000e+01,5.824600e+01,5.875400e+01
1233,Labor force with basic education (% of total w...,SL.TLF.BASC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.343000e+01,NaN,NaN,5.753000e+01,6.144000e+01,NaN,NaN,NaN,NaN,NaN
1422,Armed forces personnel (% of total labor force),MS.MIL.TOTL.TF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.695943e-01,3.627833e-01,3.563143e-01,3.497911e-01,3.290417e-01,3.302626e-01,3.231369e-01,3.199887e-01,NaN,NaN

In [172]:
# Extract 'Labor force, total' at row 1229
df = extract_series(1229)
df['value'] = df['value'].astype(int)
df.tail()

Labor force, total

       Indicator Name  Indicator Code  1960  1961  1962  1963  1964  1965  \
0  Labor force, total  SL.TLF.TOTL.IN   NaN   NaN   NaN   NaN   NaN   NaN

   1966  1967  ...        2013        2014        2015        2016  \
0   NaN   NaN  ...  59781774.0  60904130.0  62009866.0  63166277.0

         2017        2018        2019        2020        2021        2022
0  67164738.0  68748318.0  70248864.0  70940010.0  72549161.0  74459362.0

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    33 non-null     object
 1   value   33 non-null     float64
dtypes: float64(1), object(1)
memory usage: 656.0+ bytes
None

          date     value
28  2018-01-01  68748318
29  2019-01-01  70248864
30  2020-01-01  70940010
31  2021-01-01  72549161
32  2022-01-01  74459362

In [173]:
# export to csv and json
df.to_csv('data/labour_force.csv', index=False)
df.to_json('data/labour_force.json', orient='records')

---

#### Growth

In [149]:
filter_series(raw_data, ['growth'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
27,Rural population growth (annual %),SP.RUR.TOTL.ZG,NaN,2.755787,2.765277,2.765195,2.752662,2.731269,2.699307,2.721449,...,0.129949,0.089653,0.021228,0.044033,0.048708,-0.052658,-0.114188,-0.096784,-0.102357,-0.186068
75,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,3.019802,2.338669,-3.405414,7.668926,-1.391021,-0.437252,-4.781817,...,4.678722,4.747779,5.291061,5.803210,5.266455,6.080238,6.687654,2.271109,5.716649,5.954845
77,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.058161,5.453031,-0.455894,10.952789,1.606258,2.566812,-1.875864,...,6.013606,6.061059,6.552640,7.113478,6.590250,7.319413,7.881907,3.448026,6.938679,7.099829
94,"Manufacturing, value added (annual % growth)",NV.IND.MANF.KD.ZG,NaN,8.229668,7.004629,5.469353,4.940766,4.280426,6.052464,-0.028641,...,10.306890,8.766757,10.310577,11.690815,7.086440,10.452442,12.334487,1.680819,11.585139,11.410828
135,Claims on central government (annual growth as...,FM.AST.CGOV.ZG.M3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.453820,2.493596,2.372433,3.836338,3.279088,4.364018,6.278977,3.740638,4.016348,3.522746
283,Population growth (annual %),SP.POP.GROW,NaN,2.906641,2.997805,3.007812,3.004376,2.994281,2.972633,3.006246,...,1.267157,1.245960,1.191061,1.230795,1.249724,1.161378,1.113172,1.144210,1.149318,1.074837
304,Gross fixed capital formation (annual % growth),NE.GDI.FTOT.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.364642,9.855051,7.118801,8.909372,8.359574,12.132901,6.880267,3.945884,8.090779,11.653373
306,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,NaN,-11.501106,20.796544,4.830609,3.742608,-5.189872,14.332446,-11.766218,...,2.451884,3.201149,-2.829990,2.196750,-1.843281,6.105920,11.456473,-17.502392,9.191456,29.392555
309,Final consumption expenditure (annual % growth),NE.CON.TOTL.KD.ZG,NaN,8.949271,-1.743946,4.911219,10.593545,0.481668,1.841663,-2.947137,...,5.173398,4.275974,6.028725,3.399133,6.344413,9.077003,5.525803,2.908652,7.920388,7.374349
367,GNI growth (annual %),NY.GNP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.597280,4.692012,6.354338,5.395267,5.315838,7.925879,7.907855,3.524300,8.065671,5.802404
385,"Services, value added (annual % growth)",NV.SRV.TOTL.KD.ZG,NaN,0.629360,0.638985,4.394315,1.316839,5.337387,3.193784,6.014515,...,5.514156,5.624357,5.801062,6.246901,6.374988,6.553621,6.879814,3.932863,5.732182,6.256653
392,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.KD.ZG,NaN,5.208137,5.246177,-3.364689,9.538324,-1.066446,2.590494,-2.693534,...,2.464888,4.371870,3.328381,2.786268,3.196007,3.544540,3.260578,3.420948,3.174572,3.053951
408,GNI per capita growth (annual %),NY.GNP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.267638,3.395684,5.095107,4.106018,4.007870,6.679701,6.713315,2.346516,6.830763,4.671290
422,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.400814,3.853968,6.442082,-9.819162,6.100428,9.456114,15.217815,5.014240,NaN,NaN
431,"Industry (including construction), value added...",NV.IND.TOTL.KD.ZG,NaN,2.033754,26.646478,3.919266,36.053680,7.885991,-4.007915,-13.321953,...,9.639359,8.160014,9.666905,11.093734,8.272165,10.195814,11.633310,3.611090,10.287115,9.855663
464,Broad money growth (annual %),FM.LBL.BMNY.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.849813,15.610216,14.892336,16.697757,13.739396,11.506169,11.905266,13.084885,9.175709,7.502298
465,Claims on private sector (annual growth as % o...,FM.AST.PRVT.ZG.M3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.386175,11.761942,10.040626,11.404299,13.629927,8.952911,6.614467,5.527466,7.539641,8.379376
466,Claims on other sectors of the domestic econom...,FM.AST.DOMO.ZG.M3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.217360,12.726530,10.021603,11.786466,13.658156,9.790536,7.348391,5.683642,7.628695,8.956389
548,Urban population growth (annual %),SP.URB.GROW,NaN,5.653383,7.081499,7.088562,7.059329,7.052339,7.011663,7.037098,...,3.642376,3.577997,3.469949,3.464608,3.434726,3.296925,3.201395,3.187094,3.143603,3.020051
835,Annualized average growth rate in per capita r...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.350000,NaN,NaN,NaN,NaN,NaN,NaN
881,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.073646,2.568017,5.181812,-10.922300,4.782716,8.192267,13.942354,3.819505,NaN,NaN
901,Imports of goods and services (annual % growth),NE.IMP.GNFS.KD.ZG,NaN,32.313873,-0.770334,16.947109,16.316483,-0.403627,4.059257,16.836815,...,1.218152,1.168324,3.202705,-7.091885,5.164200,23.934978,0.505485,-11.409562,15.265942,31.183086
914,General government final consumption expenditu...,NE.CON.GOVT.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,1.841662,-2.947136,...,5.791087,7.885151,8.751571,8.368428,7.202527,5.277485,13.399248,1.951449,6.877225,6.241515
1083,Gross capital formation (annual % growth),NE.GDI.TOTL.KD.ZG,NaN,18.764940,61.888636,-23.493379,25.297933,11.852870,4.241953,12.884695,...,5.364642,9.855051,7.118801,8.909372,8.359574,12.132901,6.880267,3.945884,8.090779,11.653373
1092,Households and NPISHs Final consumption expend...,NE.CON.PRVT.PC.KD.ZG,NaN,5.828088,-4.645763,1.802670,7.320317,-2.482436,-1.282224,-3.423839,...,3.803688,2.717759,4.564259,1.742278,4.949333,8.149870,3.694670,1.825017,6.781130,6.327506
1152,Annualized average growth rate in per capita r...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.540000,NaN,NaN,NaN,NaN,NaN,NaN
1418,Households and NPISHs Final consumption expend...,NE.CON.PRVT.KD.ZG,NaN,8.949272,-1.743951,4.911219,10.593546,0.481669,1.696345,-0.476441,...,5.127414,4.005587,5.817130,3.002255,6.269140,9.413221,4.855420,2.996800,8.015464,7.476517

In [150]:
# Extract 'GDP growth (annual %)' at row 77
df = extract_series(77)
df.tail()

GDP growth (annual %)

          Indicator Name     Indicator Code  1960      1961      1962  \
0  GDP growth (annual %)  NY.GDP.MKTP.KD.ZG   NaN  6.058161  5.453031

       1963       1964      1965      1966      1967  ...      2013      2014  \
0 -0.455894  10.952789  1.606258  2.566812 -1.875864  ...  6.013606  6.061059

      2015      2016     2017      2018      2019      2020      2021  \
0  6.55264  7.113478  6.59025  7.319413  7.881907  3.448026  6.938679

       2022
0  7.099829

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    62 non-null     object
 1   value   62 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB
None

          date     value
57  2018-01-01  7.319413
58  2019-01-01  7.881907
59  2020-01-01  3.448026
60  2021-01-01  6.938679
61  2022-01-01  7.099829

In [152]:
# export
df.to_csv('data/grow.csv', index=False)
df.to_json('data/grow.json', orient='records')

`ToDo`: check whether we want percentage values in 100 scale or 1 scale
- 100 scale for now

---

#### Inflation

In [155]:
filter_series(raw_data, ['Inflation, consumer prices'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
737,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.530406,6.991639,6.19428,5.513526,5.70207,5.543621,5.591996,5.691075,5.545654,7.696954

In [156]:
# Extract 'Inflation, consumer prices (annual %) ' at row 737
df = extract_series(737)
df.tail()

Inflation, consumer prices (annual %)

                          Indicator Name  Indicator Code  1960  1961  1962  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN

   1963  1964  1965  1966  1967  ...      2013      2014     2015      2016  \
0   NaN   NaN   NaN   NaN   NaN  ...  7.530406  6.991639  6.19428  5.513526

      2017      2018      2019      2020      2021      2022
0  5.70207  5.543621  5.591996  5.691075  5.545654  7.696954

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    36 non-null     object
 1   value   36 non-null     float64
dtypes: float64(1), object(1)
memory usage: 704.0+ bytes
None

          date     value
31  2018-01-01  5.543621
32  2019-01-01  5.591996
33  2020-01-01  5.691075
34  2021-01-01  5.545654
35  2022-01-01  7.696954

In [157]:
# export
df.to_csv('data/infl.csv', index=False)
df.to_json('data/infl.json', orient='records')

---

#### Inequality

In [158]:
filter_series(raw_data, ['gini'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
695,Gini index,SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,32.4,NaN,NaN,NaN,NaN,NaN,31.8

In [159]:
# Extract 'Gini index' at row 695
df = extract_series(695)
df.tail()

Gini index

  Indicator Name Indicator Code  1960  1961  1962  1963  1964  1965  1966  \
0     Gini index    SI.POV.GINI   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1967  ...  2013  2014  2015  2016  2017  2018  2019  2020  2021  2022
0   NaN  ...   NaN   NaN   NaN  32.4   NaN   NaN   NaN   NaN   NaN  31.8

[1 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   value   10 non-null     float64
dtypes: float64(1), object(1)
memory usage: 288.0+ bytes
None

         date  value
5  2000-01-01   33.4
6  2005-01-01   33.2
7  2010-01-01   32.1
8  2016-01-01   32.4
9  2022-01-01   31.8

In [160]:
# export
df.to_csv('data/ineq.csv', index=False)
df.to_json('data/ineq.json', orient='records')

---

#### Exports

In [153]:
filter_series(raw_data, ['exports'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3,High-technology exports (% of manufactured exp...,TX.VAL.TECH.MF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.990886e-01,NaN,3.078671e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R6.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.715582e-01,3.722408e-01,4.591402e-01,3.795023e-01,5.308626e-01,5.061223e-01,4.426419e-01,5.483284e-01,NaN,NaN
6,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R2.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.417100e+00,3.319974e+00,2.859091e+00,2.866961e+00,3.038562e+00,2.410128e+00,2.385277e+00,2.971103e+00,NaN,NaN
7,Merchandise exports (current US$),TX.VAL.MRCH.CD.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.911400e+10,3.040500e+10,3.237900e+10,3.489400e+10,3.585100e+10,3.925200e+10,3.933700e+10,3.360500e+10,4.422300e+10,5.469500e+10
8,Insurance and financial services (% of commerc...,TX.VAL.INSF.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.115775e+00,4.421320e+00,4.241769e+00,4.474893e+00,6.327005e+00,3.755721e+00,4.640008e+00,3.296103e+00,2.719318e+00,3.547923e+00
9,Agricultural raw materials exports (% of merch...,TX.VAL.AGRI.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.051364e+00,NaN,7.471825e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Taxes on exports (current LCU),GC.TAX.EXPT.CN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.991000e+08,3.350000e+07,3.910000e+07,3.000000e+08,2.164000e+08,3.388000e+08,1.145572e+09,7.739000e+08,5.889668e+06,NaN
164,Public and publicly guaranteed debt service (%...,DT.TDS.DPPG.XP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.852805e+00,4.857939e+00,3.689619e+00,3.253705e+00,3.786378e+00,3.837185e+00,4.223391e+00,5.204949e+00,5.585951e+00,NaN
234,"Transport services (% of service exports, BoP)",BX.GSR.TRAN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.656677e+01,1.251030e+01,1.241368e+01,1.180547e+01,1.262651e+01,1.203831e+01,1.000412e+01,1.138530e+01,1.786736e+01,1.746052e+01
235,"Goods exports (BoP, current US$)",BX.GSR.MRCH.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.863819e+10,2.992449e+10,3.173604e+10,3.412205e+10,3.530077e+10,3.868190e+10,3.874729e+10,3.245615e+10,4.181597e+10,5.186827e+10
236,"Communications, computer, etc. (% of service e...",BX.GSR.CMCP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.704674e+01,8.028320e+01,8.075942e+01,7.962611e+01,7.484717e+01,7.942405e+01,8.137159e+01,8.332162e+01,7.669177e+01,7.503879e+01
255,Transport services (% of commercial service ex...,TX.VAL.TRAN.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.254522e+01,2.390553e+01,2.393811e+01,2.082030e+01,2.148419e+01,2.204890e+01,1.955976e+01,2.225701e+01,2.716270e+01,2.548622e+01
256,"Computer, communications and other services (%...",TX.VAL.OTHR.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.490858e+01,6.232379e+01,6.289713e+01,6.406830e+01,5.720211e+01,6.231390e+01,6.357828e+01,6.739562e+01,6.456586e+01,6.356542e+01
257,"Merchandise exports by the reporting economy, ...",TX.VAL.MRCH.RS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.642345e+01,1.700396e+01,1.764846e+01,1.780452e+01,1.813178e+01,1.823789e+01,1.702002e+01,1.520945e+01,NaN,NaN
258,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R3.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.037514e+00,9.731146e-01,1.036695e+00,8.429398e-01,9.180485e-01,1.160887e+00,1.193148e+00,1.012035e+00,NaN,NaN
259,Merchandise exports to high-income economies (...,TX.VAL.MRCH.HI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.325584e+01,7.264876e+01,7.223049e+01,7.179181e+01,7.152861e+01,7.164591e+01,7.273592e+01,7.389577e+01,NaN,NaN
260,Manufactures exports (% of merchandise exports),TX.VAL.MANF.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.353988e+01,NaN,9.581230e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Food exports (% of merchandise exports),TX.VAL.FOOD.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.950205e+00,NaN,2.705993e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Medium and high-tech exports (% manufactured e...,TX.MNF.TECH.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.800889e+00,1.800889e+00,1.869678e+00,1.869678e+00,1.869678e+00,1.869678e+00,1.869678e+00,1.869678e+00,NaN,NaN
277,"International tourism, receipts (% of total ex...",ST.INT.RCPT.XP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.140957e-01,4.658587e-01,4.298061e-01,5.689983e-01,8.884252e-01,8.090094e-01,8.696418e-01,5.663274e-01,NaN,NaN
306,Exports of goods and services (annual % growth),NE.EXP.GNFS.KD.ZG,NaN,-1.150111e+01,2.079654e+01,4.830609e+00,3.742608e+00,-5.189872e+00,1.433245e+01,-1.176622e+01,...,2.451884e+00,3.201149e+00,-2.829990e+00,2.196750e+00,-1.843281e+00,6.105920e+00,1.145647e+01,-1.750239e+01,9.191456e+00,2.939256e+01
420,Exports as a capacity to import (constant LCU),NY.EXP.CAPM.KN,5.237078e+11,5.945494e+11,6.365458e+11,6.412295e+11,6.184049e+11,6.269810e+11,7.336308e+11,7.790820e+11,...,2.720746e+12,2.804650e+12,2.725279e+12,2.889793e+12,2.836526e+12,3.009722e+12,3.354531e+12,2.767406e+12,3.021773e+12,3.909948e+12
441,Average time to clear exports through customs ...,IC.CUS.DURS.EX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454,Taxes on exports (% of tax revenue),GC.TAX.EXPT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.783557e-02,2.887151e-03,3.035286e-03,1.975166e-02,1.330586e-02,1.660291e-02,5.081292e-02,3.486325e-02,2.183060e-04,NaN
504,"Exports of goods, services and primary income ...",BX.GSR.TOTL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.176753e+10,3.313822e+10,3.510795e+10,3.775680e+10,3.928143e+10,4.451823e+10,4.514333e+10,3.869359e+10,4.962588e+10,6.054892e+10
505,Insurance and financial services (% of service...,BX.GSR.INSF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.095088e+00,2.313776e+00,2.199670e+00,2.537342e+00,3.718456e+00,2.050558e+00,2.373198e+00,1.686081e+00,1.788741e+00,2.430670e+00
506,"ICT service exports (% of service exports, BoP)",BX.GSR.CCIS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.272791e+01,1.376906e+01,1.490127e+01,1.760652e+01,1.363925e+01,1.079377e+01,8.231769e+00,6.729149e+00,8.274755e+00,8.713000e+00
524,Travel services (% of commercial service exports),TX.VAL.TRVL.ZS.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.430423e+00,9.349358e+00,8.922992e+00,1.063650e+01,1.498670e+01,1.188148e+01,1.222195e+01,7.051267e+00,5.552126e+00,7.400445e+00
525,Commercial service exports (current US$),TX.VAL.SERV.CD.WT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.525592e+09,1.639437e+09,1.676663e+09,2.007596e+09,2.274251e+09,2.973494e+09,3.178109e+09,3.079369e+09,4.916674e+09,5.665797e+09
526,Merchandise exports by the reporting economy (...,TX.VAL.MRCH.WL.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.591296e+10,2.843379e+10,2.992464e+10,3.019528e+10,3.139275e+10,3.377543e+10,3.591939e+10,3.074612e+10,NaN,NaN
527,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R4.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.891718e-01,4.078366e-01,3.677019e-01,3.148064e-01,3.220374e-01,2.770606e-01,2.523053e-01,3.047921e-01,NaN,NaN
528,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.OR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.112787e+00,8.473806e+00,7.898563e+00,7.888259e+00,8.141429e+00,7.085828e+00,7.176849e+00,7.694121e+00,NaN,NaN
529,Ores and metals exports (% of merchandise expo...,TX.VAL.MMTL.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.141940e-01,NaN,1.716118e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530,Fuel exports (% of merchandise exports),TX.VAL.FUEL.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.135495e+00,NaN,5.612907e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
657,"Short-term debt (% of exports of goods, servic...",DT.DOD.DSTC.XP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.175030e+01,1.252638e+01,1.888695e+01,2.075022e+01,2.740465e+01,2.028248e+01,2.156981e+01,2.839348e+01,3.644912e+01,NaN
785,"Exports of goods and services (BoP, current US$)",BX.GSR.GNFS.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.163520e+10,3.305724e+10,3.496926e+10,3.766268e+10,3.917044e+10,4.412804e+10,4.496104e+10,3.847597e+10,4.929050e+10,6.013834e+10
786,"ICT service exports (BoP, current US$)",BX.GSR.CCIS.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.814564e+08,4.313498e+08,4.817909e+08,6.233809e+08,5.277940e+08,5.878435e+08,5.115013e+08,4.050830e+08,6.184992e+08,7.205712e+08
907,Exports of goods and services (constant 2015 US$),NE.EXP.GNFS.KD,8.039743e+08,7.115084e+08,8.594775e+08,9.009955e+08,9.347163e+08,8.862057e+08,1.013221e+09,8.940029e+08,...,3.372551e+10,3.480512e+10,3.382014e+10,3.456308e+10,3.392599e+10,3.599748e+10,4.012152e+10,3.309929e+10,3.614160e+10,4.676454e+10
915,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
948,"Total debt service (% of exports of goods, ser...",DT.TDS.DECT.EX.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.110143e+00,6.134663e+00,5.001054e+00,4.920984e+00,5.798986e+00,6.795329e+00,1.314447e+01,1.045910e+01,1.142666e+01,NaN
961,Present value of external debt (% of exports o...,DT.DOD.PVLX.EX.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.147190e+02,NaN
970,High-technology exports (current US$),TX.VAL.TECH.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.864741e+07,NaN,9.360771e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.WR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.207916e+00,1.873477e+00,2.222489e+00,2.515414e+00,2.198182e+00,3.030378e+00,3.067213e+00,3.200655e+00,NaN,NaN
972,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R5.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.207916e+00,1.873477e+00,2.222489e+00,2.515414e+00,2.198182e+00,3.030378e+00,3.067213e+00,3.200655e+00,NaN,NaN
973,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R1.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.597442e+00,3.400640e+00,3.175935e+00,3.484050e+00,3.331919e+00,2.731630e+00,2.903477e+00,2.857863e+00,NaN,NaN
974,Merchandise exports to economies in the Arab W...,TX.VAL.MRCH.AL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.985752e+00,1.840672e+00,2.031051e+00,2.093943e+00,2.162210e+00,1.925397e+00,1.846394e+00,2.374471e+00,NaN,NaN
975,ICT goods exports (% of total goods exports),TX.VAL.ICTG.ZS.UN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.651499e-02,NaN,4.872121e-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1087,Exports of goods and services (constant LCU),NE.EXP.GNFS.KN,6.721968e+10,5.948868e+10,7.186027e+10,7.533156e+10,7.815092e+10,7.409499e+10,8.471461e+10,7.474691e+10,...,2.819765e+12,2.910030e+12,2.827676e+12,2.889793e+12,2.836526e+12,3.009722e+12,3.354530e+12,2.767407e+12,3.021772e+12,3.909948e+12
1088,Exports of goods and services (current US$),NE.EXP.GNFS.CD,4.273477e+08,5.194485e+08,5.460869e+08,5.310673e+08,5.401358e+08,5.707415e+08,6.622756e+08,6.750280e+08,...,2.930496e+10,3.283036e+10,3.382014e+10,3.692410e+10,3.765862e+10,4.073413e+10,4.599381e+10,3.904581e+10,4.438540e+10,5.928413e+10
1202,"Travel services (% of service exports, BoP)",BX.GSR.TRVL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.291409e+00,4.892729e+00,4.627230e+00,6.031080e+00,8.807861e+00,6.487078e+00,6.251091e+00,3.606990e+00,3.652134e+00,5.070020e+00
1203,"Service exports (BoP, current US$)",BX.GSR.NFSV.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.997008e+09,3.132746e+09,3.233220e+09,3.540625e+09,3.869670e+09,5.446134e+09,6.213746e+09,6.019825e+09,7.474532e+09,8.270070e+09
1412,Exports of goods and services (% of GDP),NE.EXP.GNFS.ZS,9.996685e+00,1.078235e+01,1.074675e+01,9.983485e+00,1.002841e+01,9.662716e+00,1.028428e+01,9.306142e+00,...,1.953787e+01,1.898966e+01,1.733667e+01,1.392120e+01,1.281975e+01,1.267479e+01,1.309476e+01,1.044279e+01,1.066278e+01,1.288223e+01
1413,Exports of goods and services (current LCU),NE.EXP.GNFS.CN,2.051269e+09,2.493353e+09,2.621217e+09,2.549123e+09,2.592652e+09,2.739560e+09,3.178923e+09,3.240135e+09,...,2.342441e+12,2.551592e+12,2.627897e+12,2.889793e+12,2.979703e+12,3.345191e+12,3.864824e+12,3.310854e+12,3.764158e+12,5.116455e+12
1456,"Debt service (PPG and IMF only, % of exports o...",DT.TDS.DPPF.XP.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.295308e+00,5.081498e+00,3.824725e+00,3.304854e+00,3.819616e+00,3.955036e+00,4.490745e+00,5.545619e+00,5.942787e+00,NaN

---

#### Productivity

In [185]:
filter_series(raw_data, ['productivity'])

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
141,"Water productivity, total (constant 2015 US$ G...",ER.GDP.FWTL.M3.KD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.812359,5.104039,5.438488,5.825354,6.209259,6.663741,7.18897,7.436848,NaN,NaN