In [2]:
import altair as alt, pandas as pd

In [3]:
df = pd.read_csv('/Users/j.i.hellings/Library/CloudStorage/OneDrive-LondonSchoolofEconomics/DataUnit/RADataHub/e4e/ch2_Growth/data/chart2_6_Productivity_9countries.csv')

In [6]:
df

,Country,ISO3,Year,"GDP, PPP (constant 2017 $)",Employment (000s),Output per worker ($),Continent
0,Australia,AUS,1990,5.291230e+11,7858.817,67328.581388,Oceania
1,Austria,AUT,1990,2.878780e+11,3412.000,84372.215709,Europe
2,Belgium,BEL,1990,3.539110e+11,3726.000,94984.165325,Europe
3,Canada,CAN,1990,NaN,13086.390,NaN,America
4,Chile,CHL,1990,1.294500e+11,4450.042,29089.613087,America
...,...,...,...,...,...,...,...
1110,Slovakia,SVK,2021,1.735820e+11,2560.550,67790.904298,Europe
1111,Slovenia,SVN,2021,8.440007e+10,971.550,86871.570358,Europe
1112,Sweden,SWE,2021,5.584270e+11,5120.300,109061.383122,Europe
1113,Türkiye,TUR,2021,2.667590e+12,28826.500,92539.503582,Asia
1114,United States,USA,2021,2.113160e+13,152580.700,138494.580245,America

In [7]:
# We want to index at 100 for 2000. So for every `Country`, we divide each `Output per worker ($)` value by their 200 values and multiply by 100.
# Note, avoid incompatible index of inserted column with frame index error by using `reset_index()`.
df['opw_indexed'] = df.groupby('Country')['Output per worker ($)'].apply(lambda x: x / x.iloc[0] * 100).reset_index(drop=True)

,Country,ISO3,Year,"GDP, PPP (constant 2017 $)",Employment (000s),Output per worker ($),Continent,opw_indexed
0,Australia,AUS,1990,5.291230e+11,7858.817,67328.581388,Oceania,100.000000
1,Austria,AUT,1990,2.878780e+11,3412.000,84372.215709,Europe,102.062124
2,Belgium,BEL,1990,3.539110e+11,3726.000,94984.165325,Europe,102.984469
3,Canada,CAN,1990,NaN,13086.390,NaN,America,106.887116
4,Chile,CHL,1990,1.294500e+11,4450.042,29089.613087,America,107.682542
...,...,...,...,...,...,...,...,...
1110,Slovakia,SVK,2021,1.735820e+11,2560.550,67790.904298,Europe,149.435615
1111,Slovenia,SVN,2021,8.440007e+10,971.550,86871.570358,Europe,151.443789
1112,Sweden,SWE,2021,5.584270e+11,5120.300,109061.383122,Europe,153.170926
1113,Türkiye,TUR,2021,2.667590e+12,28826.500,92539.503582,Asia,158.749477
1114,United States,USA,2021,2.113160e+13,152580.700,138494.580245,America,162.912705